extends ../layouts/default

block main
  h1.header-main CMR1
  h3.header-sub Cloud Solutions
  hr

  .row
    .col-sm-6
      p Confused about the cloud? 
      p Tired of complex or manual code deployments? 
      p Have questions about anything related to web development? 
    .col-sm-6
      p This website is currently under development
      p Please visit&nbsp;
        a(href="//charliemcclung.com") charliemcclung.com
        |&nbsp;for my information.
        
  h1= title

block content
  - if (articles.length)
    - each article in articles
      include article

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted No articles.&nbsp;
      - if (req.isAuthenticated())
        a(href="/articles/new") create one
